<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AE_Ground.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AE_Ground.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AE_Ground.My.MySettings.ActionEntryConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ActionEntry.mdb"
            providerName="System.Data.OleDb" />
        <add name="AE_Ground.My.MySettings.atmLocalConStr" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=C:\ActionEntry\LocalDS\Action Traffic.mdb" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <add name="EventLog"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="ACTION_ENTRY"/>
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <AE_Ground.My.MySettings>
            <setting name="ae_CurrentJob" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_DisplayName" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_PayItemsFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_UserCred" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_RetainUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ae_ImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_AppPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_DataSyncPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_FTPDataSyncURL" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_FTPuserName" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_FTPuserCred" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_WorkingDate" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_CurrDataSyncFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_DebugPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_FTPdeBugPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_CurrentPLfileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_DataSyncID" serializeAs="String">
                <value />
            </setting>
            <setting name="atmProductionConStr" serializeAs="String">
                <value>Provider=Microsoft.Jet.OLEDB.4.0; Data Source=\\attermserv01\company data\Action\Action Traffic.mdb</value>
            </setting>
            <setting name="atmServerDataSync" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_FTPImageSyncURL" serializeAs="String">
                <value />
            </setting>
            <setting name="atmLocalDataSync" serializeAs="String">
                <value />
            </setting>
            <setting name="atmImagesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="localImagesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_ImageDateFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_TransferImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_TransferDataSyncPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_DownloadImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_WarehouseXml" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_TimeSheetTxtPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_WarehouseTimeSheet" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_MailUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_MailCred" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_FTProotSync" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_LocalRootSync" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_RootSyncDateTime" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_TimeLocalPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_FtpTime" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_ProductionConStr" serializeAs="String">
                <value />
            </setting>
            <setting name="atmServerWarehouseXmlPath" serializeAs="String">
                <value />
            </setting>
            <setting name="am_NewMessagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="am_InBox" serializeAs="String">
                <value />
            </setting>
            <setting name="am_OutBox" serializeAs="String">
                <value />
            </setting>
            <setting name="am_FTPNewMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="am_FTPArchive" serializeAs="String">
                <value />
            </setting>
            <setting name="am_Deleted" serializeAs="String">
                <value />
            </setting>
            <setting name="am_Sent" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_SubmitSysInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="at_CrewListFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_WorkType" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_SilicaExposure" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ae_100AirMile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="expDeclPath" serializeAs="String">
                <value />
            </setting>
            <setting name="expDeclWarehousePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ae_FTPexpDecl" serializeAs="String">
                <value />
            </setting>
            <setting name="aeDocumentsPath" serializeAs="String">
                <value />
            </setting>
        </AE_Ground.My.MySettings>
    </userSettings>
    <applicationSettings>
        <AE_Ground.My.MySettings>
            <setting name="ATMConnectionString" serializeAs="String">
                <value>Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ActionTraffic.mdb</value>
            </setting>
        </AE_Ground.My.MySettings>
    </applicationSettings>
</configuration>
